/*
    CHÚ Ý KHI LÀM TRÊN PTS: 
    - XEM CÓ BACKGROUND IMAGE HAY KHÔNG?
    - XEM CÓ EFFECT hay không
    - XEM CÓ OPACITY HAY KHÔNG(nếu có lấy rgba)
    - VỀ TEXT THÌ CHÚ Ý FONTSIZE, LINE HEIGHT VÀ COLOR
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
a:link, a:active, a:visited{
    text-decoration: none;
}


li{
    list-style: none;
}
body{
    font-family: Roboto,sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* session */
section{
    padding-top: 80px !important;
    padding-bottom: 100px !important;
}
section h2{
    font-size: 33px;
    height: 35px; /*bằng với chiều cao của border*/
    line-height: 35px; /*line-height = height để căn giữa*/
    color: #292f36;
    text-transform: uppercase;
    font-weight: normal;
    border-left: 10px solid #e1e6ea;
    padding: 0 14px;
    margin-bottom: 60px;
}
/*header*/
header{
    background-color: #1d2126;
}
header .container{
    display: flex;
    justify-content: space-between;
    padding: 26px 15px;
    line-height: 30px;
}
header h1{
    height: 30px;
}
header ul li{
    display: inline-block;
    height: 30px;
}
header ul{
    height: 30px;
}
header ul li a{
    color: #a4aead;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    margin: 0px 15px;
    border:2px solid transparent;
}

header ul li a.active {
    color: #23b7a4;
    border-color:  #23b7a4;
    border-radius: 4px;
}

header ul li a:hover {
    border-color: #5b6168;
    border-radius: 4px;
}

/* jumbotron */

#jumbotron{
    background-color: #37324c;
    background-image: url('images/pic.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#jumbotron .container{
    min-height: 660px;
    display: flex;
    align-items: center;
    position: relative;
}

#jumbotron .info{
    max-width: 655px;
}
#jumbotron .info div{
    margin-top: 36px;
    font-size: 0px; /* mất khoẳng cách giữa của 2 thằng inline-block */
}

#jumbotron .info h1{
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 24px;
}
#jumbotron .info p{
    color: #ccd0d7;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
}

#jumbotron .info a{
    display: inline-block;
    height: 44px;
    padding: 0px 28px;
    font-size: 14px;
    line-height: 44px;
    border: 2px solid #ffffff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    margin-right: 11px;
}
#jumbotron .info a:last-child{
    margin-right: 0px;
}
#jumbotron .info a:hover{
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
}

#jumbotron .dots{
    /* background-color: ; */
    position: absolute;
    right: 15px;
    bottom: 30px;
}

#jumbotron .dots a{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    text-indent: -10000px;
    margin-left: 9px;
}
#jumbotron .dots a:last-child{
    margin-right: 0;
}
#jumbotron .dots a:hover, #jumbotron .dots a.active{
    background-color: white;
}

/*About*/
.about-section{
    border-bottom: 1px solid #dde1e4;
}
#about{
    display: flex;
    justify-content: space-between;
}
#about > div{
    max-width: 654px;
}

#about > ul{
    max-width: 457px;
}
#about div p{
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
}
#about > div > ul > li{
    display: inline-block;
    margin-right: 1px;
}
#about > div > ul{
    font-size: 0;
    margin-top: 73px;
}


#about > div > ul > li a {
    display: block;
    width: 60px;
    height: 60px;
    text-indent: -100000px;
    background-color: #c8cdd0;
    background-position: center center;
    background-repeat: no-repeat;
}
#about > div > ul > li:nth-child(1) a{
    background-image: url(images/socials/facebook.png);
}
#about > div > ul > li:nth-child(2) a{
    background-image: url(images/socials/twitter.png);
}
#about > div > ul > li:nth-child(3) a{
    background-image: url(images/socials/google.png);
}
#about > div > ul > li:nth-child(4) a{
    background-image: url(images/socials/dribble.png);
}
#about > div > ul > li:nth-child(5) a{
    background-image: url(images/socials/behance.png);
}

#about > div > ul > li a:hover{
    background-color: #d0d5d9;
}
#about > ul{
    counter-reset: about-counter;

}
#about > ul li{
    position: relative;
}
#about > ul li::before{
    content: counter(about-counter,decimal-leading-zero);
    counter-increment: about-counter;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    color: #ffffff;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}
#about > ul li h3{
    font-size: 18px;
    line-height: 18px;
    color: #292f36;
    text-transform: uppercase;
    font-weight: normal;
    margin-left: 69px;
    margin-top: 13px;
}

#about > ul li p{
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    margin-left: 69px;
    margin-bottom: 31px;
}

/*partners*/
#partners{
    display: flex;
    justify-content: space-between;
}
#partners > div{
    width: calc( ( 100% - 90px ) / 4);
    background-color: #e1e6ea;
}

#partners div img{
    max-width: 100%;
}
#partners .partner-info p:first-child{
    font-size: 16px;
    text-transform: uppercase;
    color: #292f36;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 21px;
}
#partners .partner-info p:last-child{
    font-size: 14px;
    color: #8d8f92;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 21px;
}
#partners > div{
    position: relative;
}
#partners .social-links{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    height: 300px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#partners > div:hover .social-links{
    display: flex;
    opacity: 1;
}
.social-links ul{
    /* vì cứ mỗi li được đối xử như text display:inline-block*/
    font-size: 0;
}
.social-links ul li{
    display: inline-block;
    margin-right: 1px;

}
.social-links ul li:last-child{
    margin-right: 0px;
}
.social-links ul li a{
    display: none;
    text-indent: -1000000px;
    width: 50px;
    height: 50px;
    background-color: #3a454d;
    background-repeat: no-repeat;
    background-position: center center;
    transition: background-color 0.5s ease-in-out;
}
#partners > div:hover .social-links a{
    display: block;
}
.social-links ul li a:hover{
    background-color: #4e5a62;
}
.social-links ul li:nth-child(1) a{
    background-image: url('images/socials/twitter.png');
}
.social-links ul li:nth-child(2) a{
    background-image: url('images/socials/facebook.png');
}
.social-links ul li:nth-child(3) a{
    background-image: url('images/socials/linkedin.png');
}

#partners > div:hover {
    background-color: #3a454d;
   
}
#partners > div:hover .partner-info p{
    color: white;
}
/*works*/
#works{
    background-color: #3a454d;
    padding-bottom: 60px !important;
}
#works h2{
    color:white;
    border-left-color: #4e5a62;
}

#works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#works-list > div{
    width: calc( (100% - 60px) / 3);
    position: relative;
    margin-bottom: 30px;
}
#works-list > div img{
    max-width: 100%;
}
#works-list > div:last-child{
    margin-right: 0;
}

#works-list .mask{
    opacity: 0;
    position: absolute;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
    background-color: rgba(41, 47, 54, 0.5);
    transition:opacity 0.5s ease-in-out ;
    overflow-y: hidden;

}
#works-list .mask a{
    display: block;
    width: 20px;
    height: 20px;
    margin: 92px auto 0 auto;
    background-image: url(images/plus.png);
    background-position: center center;
    text-indent: -100000px;

}

#works-list .mask p{
    background-color: #292f36;
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100% ;
    height: 60px;
    color: white;
    font-size: 18px;
    line-height: 60px;
    padding: 0px 20px;
    text-transform: uppercase;
    transition: bottom 0.5s ease-in-out;
}
#works-list > div:hover .mask{
    opacity: 1;
}
#works-list > div:hover .mask p{
    bottom: 0;
}
#works-load-more{
    text-align: center;
}
#works-load-more a{
    display: inline-block;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    border: 2px solid white;
    margin: 30px auto 0px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 14px;
}
/*What we do*/
#do{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#do > div{
    width: calc((100% - 90px) / 4);
    background-repeat:no-repeat ;
    background-position: center top;
    padding-top: 83px;
}

#do > div:nth-child(4n+1){
    background-image: url(images/services/cogs.png);
}
#do > div:nth-child(4n+2){
    background-image: url(images/services/pencil.png);
}
#do > div:nth-child(4n+3){
    background-image: url(images/services/mobile.png);
}
#do > div:nth-child(4n+4){
    background-image: url(images/services/clock.png);
}
#do div p {
    text-align: center;
}
#do div p:first-child{
    font-size: 17px;
    text-transform: uppercase;
    color: #292f36;
}
#do div p:last-child{
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    color: #8d8f92;
    margin-top: 28px;
    margin-bottom: 85px;
}

/**features*/
#features{
   background-color: #3a454d;
}
#features h2{
    color: #ffffff;
    border-left-color: #4e5a62;
    margin-bottom: 63px;
}
#features > .container >.content-features{
    display: flex;
    justify-content: space-between;
}
.content-features > div{
    width: calc((100% - 60px) / 3);
}
.content-features > div img{
    max-width: 100%;
}

.content-features > div > p:nth-child(2){
    color: #fff;
    font-size: 18px;
    line-height: 42px;
    padding-top: 38px;
}
.content-features > div > p:nth-child(3){
    color: #dcdfe1;
    font-size: 16px;
    line-height: 26px;
    padding-top: 11px;
    padding-bottom: 12px;
}

/**Contact*/
#contact{
    padding-bottom: 87px !important;
}
#map {
    max-height: 90%;
    height: 345px;
}

#contact .contact-info{
    display: flex;
    
}
#contact .contact-info > div{

}
#contact .contact-info > div > h4{
    font-size: 20px;
    line-height: 26px;
    color: #292f36;
    padding: 60px 11px 38px 11px;
    text-transform: uppercase;
}

#contact .contact-info > div p{
    font-size: 16px;
    line-height: 26px;
    color: #8d8f92;
    padding-bottom: 26px;
}
#contact .contact-info > div p:last-child{
    padding-bottom: 0;
}
#contact .contact-info >form{
    max-width: 555px;
    width: 100%;
    /* height: 400px; */
    background-color: #fff;
    padding: 30px 29px 23px 31px;
    margin-top: -127px;
    z-index: 10000000;
}
#contact .contact-info >form > .top-form{
    display: flex;
    justify-content: space-between;
   
}
#contact .contact-info >form > .top-form > div{
    width: calc((100% - 15px)/2);
}
#contact .contact-info >form > div{
    display: block;
    width: 100%;
    padding-bottom: 0px;
}
#contact .contact-info >form > div label{
    display: block;
    padding-bottom: 0px;
    font-size: 14px;
    line-height: 26px;
    color:#8d8f92;
    text-transform: uppercase;
    padding-left: 10px;
}
#contact .contact-info >form > div input{
    width: 100%;
    height: 44px;
    margin-bottom: 24px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #eaeef1;
    border-radius: 5px;
    border:none;
}
#contact .contact-info >form > div textarea{
    width: 100%;
    height: 159px;
    padding:15px;
    resize: none;
    background-color: #eaeef1;
    border-radius: 5px;
    border:none;
}

#contact .contact-info >form button{
    cursor: pointer;
    width: 150px;
    font-size: 14px;
    line-height: 44px;
    height: 44px;
    font-weight: normal;
    color: #fff;
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 26px;
}
/*Footer*/
footer{
    background-color: #3a454d;
    height: 95px;
}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer p{
    font-size: 14px;
    line-height: 95px;
    color: #ffffff;
    height: 95px;
    
}
footer ul{
    height: 95px;   
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    display: inline-block;
}
/* RESPONSIVE */
@media screen and (max-width:1100px) {
    #about > div {
        max-width: 50%;
    }
    #about > ul {
        max-width: 50%;
    }
}
@media screen and (max-width:960px) {
    #jumbotron .container{
        min-height: 250px;
        
    }
    #jumbotron .info {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    #jumbotron .info h1,#jumbotron .info p,#jumbotron .info div{
        text-align: center;
    }
    #partners {
        flex-wrap: wrap;
    }
    #partners > div {
        width: calc( ( 100% - 30px) / 2);
    }
}